body {
    text-align: center;
}

img{
    height:300px;
    width:300px;
    
    
        
}
background{
    color: greenyellow;
}

h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;

}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;

}

p {
    max-width: 500px;
    font-size: 17px;
    line-height: 1.3;
    margin: 25px auto;

}

.line {
    height: 7px;
    background-color: black;
    width: 200px;
    margin: 2px auto;
}

.menu {
    position: absolute;
    top: 30px;
    right: 50px;
    list-style: none;
    cursor: pointer;


}

.item {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
    float: left;
    font-family: cursive;


}
.item:hover{
 background-color:blue;
    font-size:23px;
}
h2{
    font-family: 'Dela Gothic One', cursive;
    font-size: 30px;
    line-height: 1.2;
    
}
#name{
  font-family:ğ™ğ™ğ™ğ™¨ ğ™ˆğ™šğ™©ğ™– ğ™ğ™–ğ™œğ™¨ ğ™ğ™¤ğ™£ğ™© ğ™‚ğ™šğ™£ğ™šğ™§ğ™–ğ™©ğ™¤ğ™§ ğ™ğ™¨  ;  
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    text-shadow: 2px 2px gainsboro;


}
#contact h3{
    display:inline;
    
    
}
#contact{
    background-color: darkred;
}
#contact a{
    color: black;
}
#writings a{
    text-shadow: none !important;
    color: blue !important;
}